<html>
<head>
<meta http-equiv="Content-Language" content="zh-tw">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>Advanced AI: Final Project</title>
</head>
<body bgcolor="#00FFFF">
    <form method="POST" action="/app_generator/">
        <p>Please enter your article here</p>
        <p>
        <TEXTAREA NAME="Text" COLS=150 ROWS=80>{{ content }}</TEXTAREA>
        </p>
        <p><input type="submit" value="submit" name="B1"></p>
        Keywords: 
            {% for key in key_list %}
                    <input type="checkbox" name="{{ key }}">{{ key }}&nbsp;
            {% endfor %}
    </form>
<!--
    <form method="POST" action="SayHello/">
        Keywords: {{ key }}
    </form>-->
</body>
</html>

