<html>
<head>
<meta http-equiv="Content-Language" content="zh-tw">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>Advanced AI: Final Project</title>
<!--
    <script type="text/javascript" 
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js">
    </script>
    <script type="text/javascript">
    /*<![CDATA[*/
    jQuery(function() {
        var form = jQuery("#articleform").attr('target', "keywordsGenerator");
        form.submit(function(e) {
            jQuery("#sendbutton").attr('disabled', true)
            jQuery("#sendwrapper").prepend('<span>Sending message, please wait... </span>')
            jQuery("#ajaxwrapper").load(
                form.attr('action') + ' #ajaxwrapper',
                form.serializeArray(),
                function(responseText, responseStatus) {
                    jQuery("#sendbutton").attr('disabled', false)
                }
            );
            e.preventDefault(); 
        });
    });
    /*]]>*/
    </script>-->
</head>
<body bgcolor="#00FFFF">
    <p>Please enter your article here</p>
    <form method="POST" action="/app_generator/keywordsGenerator/" id="articleform" target="keywordsGenerator">
        <div id="ajaxwrapper">
        <p>
            <TEXTAREA NAME="Text" COLS=100 ROWS=30 id="textarea">{{ content }}</TEXTAREA>
        </p>
        <p>
            <input type="submit" value="submit" name="B1" id="sendbutton">
        </p>
        <p id="sendwrapper"></p>
    </form>
    <iframe id="keywordsGenerator" name="keywordsGenerator" frameborder="0" border="0" cellspacing="0" width="100%" height="300"></iframe>
</body>
</html>

